*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #E9F1FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.pre-header{
    background-color: #00abe4;
    height:30px;
    width:100%;
}
.pre-header p{
    text-align: center;
    line-height: 30px;
    color:#ffffff;
    font-weight: bold;
}
.pre-header a{
    text-decoration: none;
    color:#1e395b;
}
header{
    width:100%;
    height:6.5vh;
}
header img{
    width:200px;
    padding:10px;
    float:left;
}


.menu-btn {
    display: none;
    font-size: 30px;
    color: #1e395b;
    cursor: pointer;
}
/* dropdown here */

header ul, li {
    margin: 5px 0 ;
    list-style-type: none;
}

/* Styling the main navigation menu */
header .menu {
    display: flex;
    justify-content: flex-start;
}

header .menu li {
    position: relative;
}
.focus{
    margin-left: auto;
}

header .menu a {
    display: block;
    font-weight: bold;
    padding: 10px;
    color: #1e395b;
    text-decoration: none;
    transition: background-color 0.3s;
}

header .menu a:hover {
    background-color: #00abe4;
    color:#E9F1FA;
}

/* Dropdown menu styles */
header .dropdown-content {
    display: none;
    position: absolute;
    padding:0;
    margin:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

header .dropdown-content a {
    color: black;
    background-color: white;
    padding: 1vh 0.5vw;
}

header .dropdown-content a:hover {
    background-color: #00abe4;
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
    display: block;
}



/* Hero Section Starts Here  */
.hero-section{
    height:260px;
    display:flex;
    flex-direction: column;
    margin-top: 3vh;
    align-items: center;
    width:100%;
}

.hero-section p{
    text-align: center;
    font-size: 5vw;
    font-family: Century Gothic;
    color:#00abe4;
}
#search-text{
    font-weight: bold;
    color:#1e395b;
    
}
#search-input{
    width: 60vw;
    height: 60px;
    padding: 5px;
    color:#1e395b;
    border:3px solid #1e395b;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    background-color: #E9F1FA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
#search-btn{
    width:10vw;
    height:60px;
    margin-top: 20px;
    background-color: #00abe4;
    border:none;
    border-radius:5px;
    color:#E9F1FA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.5vw;
    transition: background-color 0.3s;
    transition: color 0.3s;
    box-shadow: 2px 2px 20px #00abe4;
}
#search-btn:hover{
    background:#E9F1FA;
    color:#00abe4;
    border:3px solid #00abe4;
}

/* Services card starts here...*/
.service-card{
    width:95%;
    height:55vh;
    background-color: #00abe4;
    margin:auto;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 16px #00abe4;
    justify-content: center;
    margin-top: 5vh;
    align-items: center;
}

#services{
    text-align: center;
    font-size: 4vw;
    font-family: Century Gothic;
    color:#E9F1FA;
    font-weight: bold;
}
.service-list{
    width: 98%;
    height: 75%;
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
}
.service{
    width: 21%;
    height: 95%;
    background-color: #1e395b;
    border-radius: 30px;
    box-shadow: 2px 2px 8px #1e395b;
    display:flex;
    justify-content: center;
    align-items: center;   
    transition: background-color 0.3s;
}
.service p{
    text-align: center;
    font-size: 3vw;
    font-family: Century Gothic;
    color:#E9F1FA;
    font-weight: bold;
    text-align: center;
}
.service:hover{
    background-color: #11253d;
}

#img-service{
    width: 95%;
    box-shadow: 2px 2px 16px #00abe4;
}

/*Courses Card Starts here...*/
.course-card{
    width:95%;
    height:55vh;
    background-color: #1e395b;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 16px #1e395b;
    justify-content: center;
    margin-top:5vh;
    align-items: center;
}
.course{
    width: 21%;
    height: 95%;
    background-color: #00abe4;
    border-radius: 30px;
    box-shadow: 2px 2px 8px #00abe4;
    display:flex;
    justify-content: center;
    align-items: center;   
    transition: background-color 0.3s;
}
.course p{
    text-align: center;
    font-size: 3vw;
    font-family: Century Gothic;
    color:#E9F1FA;
    font-weight: bold;
    text-align: center;
}
.course:hover{
    background-color: #0298ca;
}

#img-career{
    width: 95%;
    margin-top:5vh;
    box-shadow: 2px 2px 16px #00abe4;
}

/*Careers Card Starts here...*/
.career-card{
    width:95%;
    height:55vh;
    background-color: #00abe4;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 16px #00abe4;
    justify-content: center;
    margin-top:5vh;
    align-items: center;
}
.career{
    width: 21%;
    height: 95%;
    background-color: #1e395b;
    border-radius: 30px;
    box-shadow: 2px 2px 8px #1e395b;
    display:flex;
    justify-content: center;
    align-items: center;   
    transition: background-color 0.3s;
}
.career p{
    text-align: center;
    font-size: 3vw;
    font-family: Century Gothic;
    color:#E9F1FA;
    font-weight: bold;
    text-align: center;
}
.career:hover{
    background-color: #11253d;
}


/*Team Card Starts here...*/
.team-card{
    width:95%;
    height:65vh;
    background-color: #1e395b;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 16px #1e395b;
    justify-content: center;
    align-items: center;
    margin-top:5vh;
}

.team-list{
    width: 98%;
    height: 75%;
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
}
.team{
    width:40%;
    height:95%;
    background-color: #00abe4;
    display:flex;
    flex-direction: row;
    border-radius: 30px;
    box-shadow: 2px 2px 8px #00abe4;
}
.desc{
    width:50%;
    display: flex;
    flex-direction: column;
}
.desc .mem{
    padding:5px 0 0 10px;
    font-family: century gothic;
    color:#E9F1FA;
    font-weight: bold;
    font-size: 3vh;

}
.desc .member-name{
    font-size: 40px;
    font-weight: bold;
    height:50%;
    padding:5px;
    color:#E9F1FA;
    border-bottom: 3px solid #11253d;
    text-decoration:underline;
    text-decoration-color: #1e395b;
}
.desc .member-des{
    font-size: 2vw;
}
/*Team member card here...*/

.pic{
    width:50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*Footer starts here...*/

.footer{
    background-color: #1e395b;
    height:50vh;
    width:100%;
    margin-top: 5vh;
    display:flex;
    justify-content: space-around;
    border-bottom: 3px solid #E9F1FA;
}
.col{
    display:flex;
    flex-direction: column;
    padding:10px;
}
.col p{
    color:#E9F1FA;
    font-weight: bold;
    font-size: 1vw;
    padding:5vh 0 2vh 10px;
}
.col a{
    color:#E9F1FA;
    font-size: 0.8vw;
    text-decoration: none;
    padding:3px 10px;
}
.col i{
    font-size: 0.8vw;
}
.col span{
    font-size: 0.7vw;
}
.footer2{
    width:100%;
    height:15vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#1e395b;
}
.footer2 span{
    color:#E9F1FA;
}







/* Extra large devices (large desktops, less than 1200px) */
@media (max-width: 1199px) {

    body{
        font-size: 11px;
    }
    .hero-section{
        height:250px;
    }
    .team{
        width:50%;
    }
}

/* Large devices (desktops, less than 992px) */
@media (max-width: 991px) {

    body{
        font-size: 10px;
    }
    header{
        height:100px;
    }
    header img{
        float:none;
        display:block;
        margin:auto;
    }
    .hero-section{
        height:190px;
    }
    #search-input{
        height: 40px;
        font-size: 16px;
        width:70%;
    }
    #search-btn{
        height:40px;
    }
    .service-card{
        height:600px;
    } .course-card{
        height:600px;
    } .career-card{
        height:600px;
    }
    .service-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service{
        width:75%;
        margin-top: 10px;
    }
    .career{
        width:75%;
        margin-top: 10px;
    }
    .course{
        width:75%;
        margin-top: 10px;
    }

    .team-card{
        height:400px;
    }
    .team{
        width:70%;
    }
    .desc .member-name{
        font-size: 50px;
    }
    

    .footer{
        height:1130px;
        flex-direction: column;

    }
    .col p{
        font-size: 20px;
    }
    .col a{
        font-size: 16px;
    }
    .col i{
        font-size: 16px;
    }


}

/* Medium devices (tablets, less than 768px) */
@media (max-width: 767px) {


    body{
        font-size: 9px;
    }


    .team-card{
        height:310px;
    }
    .team{
        width:70%;
    }
    .desc .member-name{
        font-size: 38px;
    }
    
    .pre-header p{
        font-size: 10px;
    }
    .footer span{
        font-size: 10px;
        margin-left: 5px;
    }
    .footer2 span{
        font-size: 10px;
    }

    .menu-btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 35px;
    }
    header{
        height:70px;
    }
    header .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #E9F1FA;
    }
    
    header .menu.active {
        display: flex;
    }

    header .menu li {
        text-align: center;
        width: 100%;
    }

    header .menu a {
        padding: 10px;
        border-bottom: 1px solid #00abe4;
    }
    .hero-section{
        margin-top:10px;
    }
    #search-btn{
        width:70px;
        height:30px;
    }
    #img-service{
        margin-top: 10px;
    }

}

/*Small devices (phones, less than 576px)*/
@media (max-width: 575px) {
    #hamburger{
        font-size: 22px;
    }
    header{
        height:12vh;
    }
    body{
        font-size: 5px;
    }
    .pre-header p{
        font-size: 8px;
    }
    header{
        height:60px;
    }
    .hero-section{
        margin-top: 10px;
        height:120px;
    }
    #search-btn{
        width:70px;
        height:30px;
    }
    #img-service{
        margin-top: 10px;
    }
    #services{
        font-size: 35px;
    }
    .service{
        width:90%;
    }
    .career{
        width:90%;
    }
    .course{
        width:90%;
    }
    .career p{
        font-size: 20px;
    }
    
    .service p{
        font-size: 20px;
    }
    
    .course p{
        font-size: 20px;
    }
    .service-card{
        margin-top:20px;
    }
    .course-card{
        margin-top:20px;
    }
    .career-card{
        margin-top:20px;
    }
    .team-card{
        margin-top:20px;
    }
    #img-career{
        margin-top:20px;
    }
    .footer{
        margin-top:20px;
    }
    .col p{
        padding-top:30px;
    }
    #search-input{
        font-size: 12px;
    }
    .team-card{
        height:200px;
    }
    .desc .member-name{
        font-size: 30px;
        border-bottom: none;
    }
    .desc .member-des{
        margin-top:5px;
        font-size: 15px;
    }


}