*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #E9F1FA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.pre-header{
    background-color: #00abe4;
    height:30px;
    width:100%;
}
.pre-header p{
    text-align: center;
    line-height: 30px;
    color:#ffffff;
    font-weight: bold;
}
.pre-header a{
    text-decoration: none;
    color:#1e395b;
}
header{
    width:100%;
    height:6.5vh;
}
header img{
    width: 160px;
    padding:10px;
    float:left;
}
.menu-btn {
    display: none;
    font-size: 30px;
    color: #1e395b;
    cursor: pointer;
}
/* dropdown here */

header ul, li {
    margin: 5px 0 ;
    list-style-type: none;
}

/* Styling the main navigation menu */
header .menu {
    display: flex;
    justify-content: flex-start;
}

header .menu li {
    position: relative;
}
.focus{
    margin-left: auto;
}

header .menu a {
    display: block;
    font-weight: bold;
    padding: 10px;
    color: #1e395b;
    text-decoration: none;
    transition: background-color 0.3s;
}

header .menu a:hover {
    background-color: #00abe4;
    color:#E9F1FA;
}

/* Dropdown menu styles */
header .dropdown-content {
    display: none;
    position: relative;
    padding:0;
    margin:0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

header .dropdown-content a {
    color: black;
    background-color: white;
    padding: 1vh 0.5vw;
}

header .dropdown-content a:hover {
    background-color: #00abe4;
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
    display: block;
}



/* Hero Section Starts Here  */
.hero-section{
    display:flex;
    flex-direction: column;
    margin-top: 3vh;
    align-items: center;
    width:100%;
}

.hero-section p{
    text-align: center;
    font-size: 5vw;
    font-family: Century Gothic;
    color:#00abe4;
}
#search-text{
    font-weight: bold;
    color:#1e395b;
}
#search-input{
    width: 60vw;
    height: 60px;
    padding: 5px;
    color:#1e395b;
    border:3px solid #1e395b;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    background-color: #E9F1FA;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.search-results{
    display: none;
    width: 60vw;
    background-color: #1e395b;
    margin-top: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 5px 20px;
}
.search-results a{
    text-decoration: none;
    color: #E9F1FA;
    font-weight: bold;
    border-bottom: 1px solid grey;
    display:block;
    padding:5px;
}
.search-results a:hover{
    border-bottom: 2px solid #E9F1FA;
}
#img-service{
    width: 95%;
    box-shadow: 2px 2px 16px #00abe4;
    margin-top: 30px;
}
.home-posts{
    margin-top: 10px;
    width: 80%;
    display:flex;
    flex-direction: column;
}
.home-posts h3{
    color:#1e395b;
    font-weight: bold;
    font-size: 24px;
}
.home-posts a{
    text-decoration: underline;
    color:#00abe4;
    font-weight: bold;

}

/*Services*/
.services{
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    padding: 40px;

  }
  .service-title{
    font-size: 50px;
    font-family: century gothic;
    font-weight: bold;
    color:#2a4563;
    margin: 0;
  }
  .service-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .serv{
    width: 100%;
    display: flex;
    height: 100px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
  }
  .icon{
    width: 20%;
    border: 2px solid #00abe4;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #1e395b;
    transition: font-size 0.5s ease-out;
  }
  .icon:hover{
    font-size: 50px;
  }
  .desc{
    width: 80%;
    height: 100%;
    display: flex;
    color: #2a4563;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    font-family: century gothic;
    font-size: 28px;
    font-weight: bold;
    background: linear-gradient(to right, #00abe4 50%, #E9F1FA 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border: 2px solid #00abe4;
    border-left: none;
  }
  .desc:hover{
    background-position: left bottom;
    color: white;
  }
  

#img-career{
    width: 95%;
    margin-top:5vh;
    box-shadow: 2px 2px 16px #00abe4;
}

/*Careers Card Starts here...*/
.career-card{
    width:95%;
    height:80vh;
    background-color: #00abe4;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 16px #00abe4;
    margin-top:5vh;
    align-items: center;
}
.career-list{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.career{
    width: 45%;
    height: 45%;
    background-color: #1e395b;
    border-radius: 30px;
    box-shadow: 2px 2px 8px #1e395b;
    display:flex;
    justify-content: center;
    align-items: center;   
    transition: background-color 0.3s;
    flex-wrap: wrap;
}
.career p{
    text-align: center;
    font-size: 3vw;
    font-family: Century Gothic;
    color:#E9F1FA;
    font-weight: bold;
    text-align: center;
}
.career:hover{
    background-color: #11253d;
}


/*Team Card Starts here...*/
.team-card{
    width:95%;
    height:50vh;
    background-color: #1e395b;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 2px 16px #1e395b;
    justify-content: center;
    align-items: center;
    margin-top:5vh;
}

.team-list{
    width: 98%;
    height: 75%;
    display:flex;
    justify-content: space-around;
    margin-top: 10px;
}
.team{
    width:40%;
    height:95%;
    background-color: #00abe4;
    display:flex;
    flex-direction: row;
    border-radius: 30px;
    box-shadow: 2px 2px 8px #00abe4;
}
.desc{
    width:50%;
    display: flex;
    flex-direction: column;
}
.desc .mem{
    padding:5px 0 0 10px;
    font-family: century gothic;
    color:#E9F1FA;
    font-weight: bold;
    font-size: 3vh;

}
.desc .member-name{
    font-size: 40px;
    font-weight: bold;
    height:50%;
    padding:5px;
    color:#E9F1FA;
    border-bottom: 3px solid #11253d;
    text-decoration:underline;
    text-decoration-color: #1e395b;
}
.desc .member-des{
    font-size: 2vw;
}
/*Team member card here...*/

.pic{
    width:50%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

/*Footer starts here...*/

.footer{
    background-color: #1e395b;
    height:50vh;
    width:100%;
    margin-top: 5vh;
    display:flex;
    justify-content: space-around;
    border-bottom: 3px solid #E9F1FA;
}
.col{
    display:flex;
    flex-direction: column;
    padding:10px;
}
.col p{
    color:#E9F1FA;
    font-weight: bold;
    font-size: 1vw;
    padding:5vh 0 2vh 10px;
}
.col a{
    color:#E9F1FA;
    font-size: 0.8vw;
    text-decoration: none;
    padding:3px 10px;
}
.col i{
    font-size: 0.8vw;
}
.col span{
    font-size: 0.7vw;
}
.footer2{
    width:100%;
    height:15vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background:#1e395b;
}
.footer2 span{
    color:#E9F1FA;
}




/* Extra large devices (large desktops, less than 1200px) */
@media (max-width: 1199px) {

    body{
        font-size: 11px;
    }
    .team{
        width:50%;
    }
}

/* Large devices (desktops, less than 992px) */
@media (max-width: 991px) {

    body{
        font-size: 10px;
    }
    header{
        height:100px;
    }
    header img{
        float:none;
        display:block;
        margin:auto;
    }
    #search-input{
        height: 40px;
        font-size: 16px;
        width:70%;
    }
    .search-results{
        width:70%;
    }
    #search-btn{
        height:40px;
    }
    .service-card{
        height:600px;
    } .course-card{
        height:600px;
    } .career-card{
        height:600px;
    }
    .service-list{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .service{
        width:75%;
        margin-top: 10px;
    }
    .career{
        width:75%;
        margin-top: 10px;
    }
    .course{
        width:75%;
        margin-top: 10px;
    }

    .team-card{
        height:400px;
    }
    .team{
        width:70%;
    }
    .desc .member-name{
        font-size: 50px;
    }
    

    .footer{
        height:1130px;
        flex-direction: column;

    }
    .col p{
        font-size: 20px;
    }
    .col a{
        font-size: 16px;
    }
    .col i{
        font-size: 16px;
    }


}

/* Medium devices (tablets, less than 768px) */
@media (max-width: 767px) {


    body{
        font-size: 9px;
    }


    .team-card{
        height:310px;
    }
    .team{
        width:70%;
    }
    .desc .member-name{
        font-size: 38px;
    }
    
    .pre-header p{
        font-size: 10px;
    }
    .footer span{
        font-size: 10px;
        margin-left: 5px;
    }
    .footer2 span{
        font-size: 10px;
    }

    .menu-btn {
        display: block;
        position: absolute;
        right: 10px;
        top: 35px;
    }
    header{
        height:70px;
    }
    header .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #E9F1FA;
    }
    
    header .menu.active {
        display: flex;
    }

    header .menu li {
        text-align: center;
        width: 100%;
    }

    header .menu a {
        padding: 10px;
        border-bottom: 1px solid #00abe4;
    }
    .hero-section{
        margin-top:10px;
    }
    #img-service{
        margin-top: 10px;
    }

}

/*Small devices (phones, less than 576px)*/
@media (max-width: 575px) {
    #hamburger{
        font-size: 30px;
    }
    .menu{
        font-size: 14px;
        display:flex;
        position: relative;
    }
    header{
        height:12vh;
    }
    body{
        font-size: 14px;
    }
    .pre-header p{
        font-size: 8px;
    }
    header{
        height:60px;
    }
    .hero-section{
        margin-top: 10px;
    }
    #img-service{
        margin-top: -35px;
    }
    .services{
        font-size: 35px;
        margin-top: -30px;
    }
    .service{
        width:90%;
        margin-top: -30;
    }
    .cimage{
        margin-top: -25px;
    }
    .career{
        width:90%;
    }
    .course{
        width:90%;
    }
    .career p{
        font-size: 20px;
    }
    
    .service p{
        font-size: 20px;
    }
    .serv{
        margin-top: 0;
    }
    .icon{
        width: 30%;
        height: 90%;
        font-size: 22px;
    }
    .icon:hover{
        font-size: 30px;
    }
    .desc{
        width: 70%;
        height: 90%;
        font-size: 18px;
    }
    .home-posts{
        margin-top: 10px;
    }
    
    .course p{
        font-size: 20px;
    }
    .service-card{
        margin-top:20px;
    }
    .course-card{
        margin-top:20px;
    }
    .career-card{
        margin-top:20px;
        height: 70vh;
    }
    .career{
        height: 20%;
        border-radius: 20px;
    }
    .team-card{
        margin-top:20px;

    }
    #img-career{
        margin-top:2px;
    }
    .footer{
        margin-top:20px;
    }
    .col p{
        padding-top:30px;
    }
    #search-input{
        font-size: 15px;
    }
    .team-card{
        height:183px;

    }
    .desc .member-name{
        font-size: 30px;
        border-bottom: none;
    }
    .desc .member-des{
        margin-top:5px;
        font-size: 15px;
    }
    #user-profile{
        order:1;
    }
}